body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

/* Change the background color of the navigation bar */
.navbar_bkgd_color {
  background-color: #13153b;
}

.home {
  text-align: center;
}

.readme {
  text-align: center;
}

.ga {
  display: block;
  margin: 0 auto;
}

/* Drop down menu in Nav Bar */
/* nav div div div ul {
  float: left;
}
nav div div div ul li {
  float: left;
  list-style: none;
  position: relative;
}
nav div div div ul li a {
  display: block;
  color: #cbd5db;
}
nav div div div ul li a:hover {
  color: #ffffff;
  text-decoration: none;
}
nav div div div ul li ul {
  display: none;
  position: absolute;
  background-color: #13153b;
  padding: 8px;
  border-radius: 0px 0px 6px 6px;
}
nav div div div ul li:hover ul {
  display: block;
}
nav div div div ul li ul li{
  border-radius: 4px;
}
.site-header .navbar-nav .nav-drop {
  color: #cbd5db;
}
.site-header .navbar-nav .nav-drop:hover {
  color: #ffffff;
  text-decoration: none;
} */
/* Drop down menu in Nav Bar */

.news_api {
  padding: 8px;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}
